__pycache__
*.pyc
*.pyo
*.pyd
.Python
.venv
venv/
ENV/
.git
.gitignore
.idea
.vscode
*.log
.DS_Store
data/raw/*
data/processed/*
data/cache/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/cache/.gitkeep
